;Koszty zbudowania i ulepsze� zwyklej, laserowej i piorunistej wie�yczki
; =====================================================================
; 	PRICE_1	| Koszt zbudowania wie�yczki
;	DMG_1		| Domy�lne obra�enia wie�yczki ( po zbudowaniu )
;	RANGE_1	| Domy�lny zasi�g wie�yczki ( po zbudowaniu )
;	FIRE_FREQ	| "Szybkostrzelno��", np. 45 - strza� co 0.45 sekundy
;	UWAGA: NIE DAWA� FIRE_FREQ PONI�EJ 0.3
; =====================================================================
; /******** DOMYSLNA KONFIGURACJA *********\

;[BULLET]
BULLET_TURRET_FIRE_FREQ = 45

BULLET_TURRET_RANGE_1 = 500
BULLET_TURRET_RANGE_2 = 560
BULLET_TURRET_RANGE_3 = 620
BULLET_TURRET_RANGE_4 = 680
BULLET_TURRET_RANGE_5 = 740

BULLET_TURRET_PRICE_1 = 40
BULLET_TURRET_PRICE_2 = 35 
BULLET_TURRET_PRICE_3 = 50
BULLET_TURRET_PRICE_4 = 76
BULLET_TURRET_PRICE_5 = 110

BULLET_TURRET_DMG_1 = 22 41
BULLET_TURRET_DMG_2 = 55 64
BULLET_TURRET_DMG_3 = 60 94
BULLET_TURRET_DMG_4 = 70 121
BULLET_TURRET_DMG_5 = 100 160
BULLET_TURRET_DMG_6 = 144 229
BULLET_TURRET_DMG_7 = 208 315

BULLET_TURRET_ACCURACY_1 = 75
BULLET_TURRET_ACCURACY_2 = 85
BULLET_TURRET_ACCURACY_3 = 95

BULLET_TURRET_FIRE_RATE_1 = 100
BULLET_TURRET_FIRE_RATE_2 = 90
BULLET_TURRET_FIRE_RATE_3 = 80
BULLET_TURRET_FIRE_RATE_4 = 70

;[LASER]
LASER_TURRET_FIRE_FREQ = 190

LASER_TURRET_RANGE_1 = 600
LASER_TURRET_RANGE_2 = 690
LASER_TURRET_RANGE_3 = 780
LASER_TURRET_RANGE_4 = 870
LASER_TURRET_RANGE_5 = 960

LASER_TURRET_PRICE_1 = 50
LASER_TURRET_PRICE_2 = 45
LASER_TURRET_PRICE_3 = 70
LASER_TURRET_PRICE_4 = 100
LASER_TURRET_PRICE_5 = 160

LASER_TURRET_DMG_1 = 119 146
LASER_TURRET_DMG_2 = 158 220
LASER_TURRET_DMG_3 = 227 340
LASER_TURRET_DMG_4 = 270 423
LASER_TURRET_DMG_5 = 367 517
LASER_TURRET_DMG_6 = 529 741
LASER_TURRET_DMG_7 = 762 1073

LASER_TURRET_ACCURACY_1 = 70
LASER_TURRET_ACCURACY_2 = 74
LASER_TURRET_ACCURACY_3 = 78
LASER_TURRET_ACCURACY_4 = 82
LASER_TURRET_ACCURACY_5 = 87
LASER_TURRET_ACCURACY_6 = 93
LASER_TURRET_ACCURACY_7 = 97

LASER_TURRET_FIRE_RATE_1 = 100
LASER_TURRET_FIRE_RATE_2 = 90
LASER_TURRET_FIRE_RATE_3 = 80
LASER_TURRET_FIRE_RATE_4 = 70

;[LIGHTING]
LIGHTING_TURRET_FIRE_FREQ = 30

LIGHTING_TURRET_RANGE_1 = 430
LIGHTING_TURRET_RANGE_2 = 490
LIGHTING_TURRET_RANGE_3 = 540
LIGHTING_TURRET_RANGE_4 = 590
LIGHTING_TURRET_RANGE_5 = 630

LIGHTING_TURRET_PRICE_1 = 110
LIGHTING_TURRET_PRICE_2 = 45
LIGHTING_TURRET_PRICE_3 = 70
LIGHTING_TURRET_PRICE_4 = 95
LIGHTING_TURRET_PRICE_5 = 150
LIGHTING_TURRET_PRICE_6 = 216
LIGHTING_TURRET_PRICE_7 = 311

LIGHTING_TURRET_DMG_1 = 25 47
LIGHTING_TURRET_DMG_2 = 50 81
LIGHTING_TURRET_DMG_3 = 70 100
LIGHTING_TURRET_DMG_4 = 94 144
LIGHTING_TURRET_DMG_5 = 105 204
LIGHTING_TURRET_DMG_6 = 142 250
LIGHTING_TURRET_DMG_7 = 204 312

LIGHTING_TURRET_ACCURACY_1 = 75
LIGHTING_TURRET_ACCURACY_2 = 85
LIGHTING_TURRET_ACCURACY_3 = 95

LIGHTING_TURRET_FIRE_RATE_1 = 100 
LIGHTING_TURRET_FIRE_RATE_2 = 90 

;[M_LASER]
M_LASER_TURRET_FIRE_FREQ = 500

M_LASER_TURRET_RANGE_1 = 710
M_LASER_TURRET_RANGE_2 = 800
M_LASER_TURRET_RANGE_3 = 890
M_LASER_TURRET_RANGE_4 = 940
M_LASER_TURRET_RANGE_5 = 1020

M_LASER_TURRET_PRICE_1 = 150
M_LASER_TURRET_PRICE_2 = 175 
M_LASER_TURRET_PRICE_3 = 200
M_LASER_TURRET_PRICE_4 = 225
M_LASER_TURRET_PRICE_5 = 250

M_LASER_TURRET_DMG_1 = 400 600
M_LASER_TURRET_DMG_2 = 611 986
M_LASER_TURRET_DMG_3 = 873 1216
M_LASER_TURRET_DMG_4 = 1081 1472
M_LASER_TURRET_DMG_5 = 1332 1605

M_LASER_TURRET_ACCURACY_1 = 75
M_LASER_TURRET_ACCURACY_2 = 80
M_LASER_TURRET_ACCURACY_3 = 85
M_LASER_TURRET_ACCURACY_4 = 90
M_LASER_TURRET_ACCURACY_5 = 95

M_LASER_TURRET_FIRE_RATE_1 = 100
M_LASER_TURRET_FIRE_RATE_2 = 90
M_LASER_TURRET_FIRE_RATE_3 = 85

;[ROCKET]
ROCKET_TURRET_FIRE_FREQ = 1000

ROCKET_TURRET_RANGE_1 = 710
ROCKET_TURRET_RANGE_2 = 800
ROCKET_TURRET_RANGE_3 = 890
ROCKET_TURRET_RANGE_4 = 940
ROCKET_TURRET_RANGE_5 = 1020

ROCKET_TURRET_PRICE_1 = 150
ROCKET_TURRET_PRICE_2 = 175 
ROCKET_TURRET_PRICE_3 = 200
ROCKET_TURRET_PRICE_4 = 225
ROCKET_TURRET_PRICE_5 = 250

ROCKET_TURRET_DMG_1 = 660 1000
ROCKET_TURRET_DMG_2 = 969 1300
ROCKET_TURRET_DMG_3 = 1206 1504
ROCKET_TURRET_DMG_4 = 1463 1818
ROCKET_TURRET_DMG_5 = 1739 2125

ROCKET_TURRET_ACCURACY_1 = 100

ROCKET_TURRET_FIRE_RATE_1 = 100
ROCKET_TURRET_FIRE_RATE_2 = 90
ROCKET_TURRET_FIRE_RATE_3 = 80
ROCKET_TURRET_FIRE_RATE_4 = 70
ROCKET_TURRET_FIRE_RATE_5 = 60

;[GATLING]
GATLING_TURRET_FIRE_FREQ = 10

GATLING_TURRET_RANGE_1 = 400

GATLING_TURRET_PRICE_1 = 750
GATLING_TURRET_PRICE_2 = 350
GATLING_TURRET_PRICE_3 = 500

GATLING_TURRET_DMG_1 = 66 180
GATLING_TURRET_ACCURACY_1 = 70
GATLING_TURRET_ACCURACY_2 = 80
GATLING_TURRET_ACCURACY_3 = 90

GATLING_TURRET_FIRE_RATE_1 = 100
GATLING_TURRET_FIRE_RATE_2 = 85
